/*GERAL*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --background-color: white;
  --text-color: black;
}

.dark-mode:root{
  --background-color: #183153;
  --text-color: white;
}

html {
  background-color: var(--background-color);
  color: var(--text-color);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  margin: 30px auto;
  width: clamp(320px, 90%, 900px);
  border: 1px solid var(--text-color);
  border-radius: 10px;
  padding: 20px;
}

/*HEADER*/
nav, header ul {
  display: flex;
  align-items: center;
}

nav {
  justify-content: space-between;
  align-items: center;
  font-size: clamp(12px, 2vw, 20px);
}

header ul li {
  list-style: none;
}

header ul li a,
main a{
  text-decoration: none;
}

header ul li a:visited,
header ul li a:active,
header ul li a:link,
main a:visited,
main a:active,
main a:link{
  color: var(--text-color);
}

header ul {
  gap: 20px;
}

header section {
  padding: 100px 0px;
  text-align: center;
}

.dark-mode-list {
  width: 30px;
  height: 30px;
}

header h1 {
  font-size: clamp(18px, 4vw, 32px);
}

/*MAIN*/

h2 {
  font-size: clamp(18px, 3vw, 24px);
}

main p,
main a,
main ul li,
footer p{
  font-size: clamp(14px, 2vw, 16px);
}

/*FOOTER*/
footer div {
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 580px) {
  nav {
    flex-direction: column;
    gap: 20px;
  }
}